body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 800px;
}

h2 {
  font-size: 27px;
  padding: 14px 0;
   font-weight: 800px;
}

h1, h2 {
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
}

img {
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 18px 0;
}
nav a {
  text-decoration: none;
  color: black;
  margin: 13px 30px 13px 30px;
  display: inline-block;
  font-size: 24px;
  float: right;
}
