div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}

#name {
	background: red;
}

#hex {
	background: #ff0000;
}

#rgb {
	background: rgb(255,150,0);
}