header {
  background-color: #F15B31;
  font: #FFFFFF;
  padding: 30px 20px 30px 20px;
}
h1 {
  margin: 0;
}
nav {
  background-color: #00A6B3;
  font: #FFFFFF;
}
a:hover {
  margin: 0 20px;
  font: #FFFFFF;
  border-bottom: 2px solid transparent;
}
h2 {
  text-align: center;
}
main {
  width: 850px;
  margin: 35px auto;
}
p {
  text-align: centre;
}
img {
  margin: 40px 8px 0 8px;
  display: flex;
  text-align: center;
}
body {
  margin: 0;
}
footer {
  text-transform: uppercase;
  padding: 0 20px 0 20px;
  background: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}
.copyright {
  float: left;
}
.message {
  float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
  color: #F15B31;
  font-weight: 700;
  
}