h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #0d2c40;
  letter-spacing: 1px;
  font-size: 45px;
  margin: 0;
}
h2 {
  font-family: "Raleway";
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
}

body {
  text-align: center;
  margin: 0;
}

a {
  font-family: "Raleway", sans-serif;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  color: #f15b31;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
header {
  background-color: #f15b31;
  color: #ffffff;
  padding: 30px 20px;
}
nav {
  background-color: #00a6b3;
  color: #ffffff;
  padding: 20px 0;
}
main {
  width: 850px;
  margin: 35px auto;
}
img {
  margin: 40px 8px 0 8px;
}
footer {
  text-transform: uppercase;
  padding: 0 20px;
  background: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
}
.copyright {
  float: left;
  font-family: "Raleway";
}
.message {
  float: right;
  font-family: "Raleway";
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

a:hover {
  margin: 0 20px;
  font: #ffffff;
  border-bottom-color: white;
}
.name {
  color: #f15b31;
  font-weight: 700;
}
